---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all -%}
  {%- if not p.url or "/admin/" in p.url or p.url == "/sitemap.xml" or "/conseils.html" in p.url -%}
  {%- else -%}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <lastmod>{{ p.date | isoDate }}</lastmod>
  </url>
  {%- endif -%}
{%- endfor -%}
</urlset>
